@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';

:root {

--color-of-burgerAlternativ: yellow;
}

body {
	font-family: Dosis, san-serif; 
	font-size: 25pt;
}

h1 {
	
	color: gray;
	text-align: center;
	text-transform: uppercase;
}

.important {
	font-weight: bold;

}
#burgers {
	background-color: black;
	color: white;
	border: 10px dotted var(--color-of-burgerAlternativ);
}

#order{
	padding: 40px;
}

button:hover {
	background-color: green;
	cursor:pointer;
}

button{
	margin: 10px;
	height: 50px;
	width: 200px;
}

input[type="radio"]{
	cursor:pointer;
}

.burgerAlternativ {
	margin: 60px;
	padding: 40px;
	display: inline-block;
	align: center; 
	border: 5px solid var(--color-of-burgerAlternativ); 

}

#headline img{
	opacity: 0.7;
	padding: 40px;
}

#headline h1{
	position: absolute;
}

